
<div class="login-wrapper">
  <h1>Login</h1>
  <%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    <h3><%= f.text_field :email, placeholder: "Email", class: 'form-field'%></h3>
  </div>
  <div>
    <h3><%= f.password_field :password, placeholder: "Password", class: 'form-field'%></h3>
  </div>
  <%= f.submit "Sign In", :class => "btn btn-primary login-btn"%>
  <% end %>
</div>
