<br>
<h1> Please edit your comment: </h1>
<div class="col-md-5 col-xs-12 col-lg-offset-5">
  <br>
<%= form_for @comment do |f| %>
<div class="form-title">
  <%= f.text_field :title, placeholder: :title %>
</div>
<div class="form-text">
  <%= f.text_area :text, placeholder: :text%>
</div>
<%= f.submit "Save Changes", :class => "btn btn-primary" %>
</div>
<% end %>
