<br>
<h1> Please edit your comment: </h1>
<div class="">
  <br>
<%= form_for @comment do |f| %>
<div class="form-title">
  <h3><%= f.text_field :title, placeholder: :title, class: "form-field"%> </h3>
</div>
<div class="form-text">
  <h3> <%= f.text_area :text, placeholder: :text, class: "form-field"%> </h3>
</div>
<%= f.submit "Save Changes", :class => "btn btn-primary" %>
</div>
<% end %>
