
/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */


.navbar-default {
    background-color: #93a8ac;
    border-color: #E7E7E7;
    margin-bottom: 0;
    opacity: .8
}

li {
    margin-top: 15px;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}
