
// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: #93a8ac;
  font-weight: bold;
}

#image{
  position: absolute;
}

img {
  width: 100%;
  height: 400px;
}

.city-name{
  position: absolute;
  text-align:center;
  font-weight: bolder;
  font-size: 100px;
  color: white;
  top: 260px;
  right: 50px;
  text-shadow: #000 0px 0px 2px;
  max-width: 100%;
  max-width: 100%;
  opacity: .7;
  background-position: center;
  background-size: contain;
}

#city-name{
    margin-top: 130px;
    text-shadow: #000 0px 0px 1px;
}

#index-image{
  text-align:center;
  font-weight: bolder;
  color: white;
  text-shadow: #000 0px 0px 2px;
  background-position: center;
  background-size: contain;
}

.city {
  width: 100;
  height: 300px;
  margin-bottom: 3%;
  margin-right: 3%;

}

.city a {
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.panel {
  background-color: #93a8ac;
}

.index-header{
  font-size: 50px;
  color: white;
}
