<!DOCTYPE html>
<html>
  <head>
    <title>TheOnlyVagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Vagabond</h1>
        <p>Share your travel experience.</p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
